# Dependencias
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Archivos de configuración IDE
.idea/
.vscode/
frontend/.vs/
backend/dist/
*.sublime-project
*.sublime-workspace

# Archivos compilados
/dist/
/tmp/
/out-tsc/
/bazel-out/
dist/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de caché
frontend/.angular/cache/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage/
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/

# System Files
.DS_Store
Thumbs.db
candidates*.xlsx
